/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Ajustar la primera sección para que no quede oculta por la navegación */
.modulo2 {
    padding-top: 80px; /* Ajustar según la altura del menú de navegación */
}

/* Estilos generales para secciones */
section {
    height: 100vh; /* Cada sección ocupa el 100% de la altura de la ventana */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Diferentes colores para cada sección */
#index-1 {
    background-color: #bdbdff;
}

#index-2 {
    background-color: #909090;
}

/* Estilos del menú de navegación */
nav {
    position: fixed; /* Menú fijo en la parte superior */
    top: 0;
    width: 100%;
    background: #333;
    z-index: 1000; /* Asegura que el menú esté encima del contenido */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background: #555;
}
