/* Botón de contacto estilizado */
#contactButton {
  background-color: var(--button-color);
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  border: 2px solid transparent; /* Bordes suaves */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#contactButton:hover {
  background-color: var(--accent-color);
  border-color: var(--button-color); /* Cambiar borde en hover */
  transform: scale(1.05); /* Efecto de crecimiento */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

/* Estilizando los enlaces dentro del modal */
.modal a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.modal a:hover {
  color: var(--accent-color); /* Cambiar color en hover */
}

/* Estilos del botón de cerrar el modal */
.close {
  color: var(--text-color);
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close:hover, .close:focus {
  color: var(--primary-color);
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
  backdrop-filter: blur(5px); /* Difuminar fondo */
}

.modal-content {
  background-color: var(--secondary-color);
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  animation: fadeIn 0.5s ease; /* Animación de aparición */
}

/* Animación de entrada suave */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Responsivo */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}
